 <div class="class-container" fxLayoutAlign="center center">
   <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="1000px" fxLayoutGap="10px">

   <div *ngFor="let note of notes | notePipe:{pin:false,trash:true,archive:false}" class={{noteView}}> 
    
    <mat-card style="margin-top:100px; margin-right:20px; width:172px; height:128px;">
      <mat-card-header style="margin-left: -26px; margin-top: -9px;">
        <b>{{note.title}}</b>
      </mat-card-header>
      <mat-card-header style="margin-top: 19px; font-size: 35px; margin-left: -26px;">
        {{note.description}}
      </mat-card-header>
       <div style="margin-top: 42px; margin-left: -26px;">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>

              <mat-menu #menu="matMenu">

                <button type="submit" mat-menu-item (click)="deleteNote(note.noteId)">
              <span>Delete Forever</span>
              </button>

            <button type="submit" mat-menu-item (click)="restoreNotes(note,'false','trash')">

            <span>Restore</span>
            </button>
            </mat-menu>
         </div>
    </mat-card>
   </div>
  </div>
 </div>